@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gradient {
  --dot-bg: rgb(255, 226, 168);
  --dot-color: rgb(0, 0, 0);
  --dot-size: 1px;
  --dot-space: 15px;
  background: linear-gradient(
        90deg,
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    linear-gradient(
        var(--dot-bg) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center / var(--dot-space) var(--dot-space),
    var(--dot-color);
}

@keyframes swipe-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-1200px) rotate(-30deg);
  }
}

@keyframes swipe-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(1200px) rotate(30deg);
  }
}

.animate-swipe-left {
  animation: swipe-left 0.3s forwards;
}

.animate-swipe-right {
  animation: swipe-right 0.3s forwards;
}
